
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<section>
			
			<div class="well">
			<div class=" side">

				<div class="row no-gutters">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="asked-flat">
							<div class="row no-gutters">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
									<div class="btn-group btn-full-width" role="group" aria-label="...">
										<button type="button" class="btn btn-xs btn-success btn-half" ng-click="go('/asked')" ><span class="fa fa-life-ring"></span> Asked<br>
                                            <span data-ng-bind="user_stats.articles_count" class="badge"></span>
                                        </button>
										<button type="button" class="btn btn-xs btn-danger btn-half"><span class="fa fa-heart"></span> Answered<br>
											<span class="badge" data-ng-bind="user_stats.answers_count"></span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row no-gutters">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="asked-flat">
							<div class="row no-gutters">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="btn-group btn-full-width" role="group" aria-label="...">
										<button type="button" class="btn btn-xs btn-info btn-half"><span class="fa fa-binoculars"></span> Monitored<br><span class="badge">12</span></button>
										<button type="button" class="btn btn-xs btn-warning btn-half"><span class="fa fa-cog"></span> Settings<br><span class="badge">12</span></button>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
			</div>
		</section>
	</div>
</div>

