<section>
	<div class="well well-no-padding">
		<legend class="trending"><i class="fa fa-star"></i> Trending</legend>
		<div class="trending-links">
			<a class="trending-link" ng-href="http://localhost:3000/#!/search/Some"><i class="fa fa-tag"></i> Some</a>
			<a class="trending-link" ng-href="http://localhost:3000/#!/search/Science"><i class="fa fa-tag"></i> Science</a>
			<a class="trending-link" ng-href="http://localhost:3000/#!/search/Food"><i class="fa fa-tag"></i> Food</a>
			<a class="trending-link" ng-href="http://localhost:3000/#!/search/Other"><i class="fa fa-tag"></i> Other</a>
			<a class="trending-link" ng-href="http://localhost:3000/#!/search/Stuff"><i class="fa fa-tag"></i> Stuff</a>
			<a class="trending-link" ng-href="http://localhost:3000/#!/search/Sport"><i class="fa fa-tag"></i> Sport</a>
			<a class="trending-link" ng-href="http://localhost:3000/#!/search/Emotions"><i class="fa fa-tag"></i> Emotions</a>
			<a class="trending-link" ng-href="http://localhost:3000/#!/search/Entertainment"><i class="fa fa-tag"></i> Entertainment</a>
			<a class="trending-link" ng-href="http://localhost:3000/#!/search/Others"><i class="fa fa-tag"></i> Others</a>
		</div>
	</div>
	
</section>
