<section class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
         <div class="well" data-ng-controller="SchoolsController" data-ng-init="find()">
             <legend>Schools</legend>
             <div class="list-group">
                 <a data-ng-repeat="school in schools" data-ng-href="#!/schools/{{school._id}}" class="list-group-item">
                     <small class="list-group-item-text">
                         Posted on
                         <span data-ng-bind="school.created | date:'medium'"></span>
                         by
                         <span data-ng-bind="school.user.displayName"></span>
                     </small>
                     <h4 class="list-group-item-heading" data-ng-bind="school.name"></h4>
                 </a>
             </div>
         <div class="alert alert-warning text-center" data-ng-hide="!schools.$resolved || schools.length">
                 No Schools yet, why don't you <a href="/#!/schools/create">create one</a>?
         </div>
         </div>
     </div>
    </div>
</section>
